// app global css in SCSS form
$v-image-input-width: 100px !default;
$v-image-input-height: 100px !default;
@import "node_modules/vue3-img-input/src/styles/style.scss";
@import url('../assets/font/font.css');

body {
  font-family: 'GenSeki';
  // font-family: 'Huninn';
  // font-family: 'Cubic';
}

.swal2-container {
  z-index: 8000!important
}

.pre {
  white-space: pre-wrap;
}
// 解決 dialog 出現的 scroll
.q-body--force-scrollbar-x {
  overflow-x: auto;
}

/*捲軸寬度 */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 2px;
}

/* 捲軸背景 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 捲軸把手 */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 1000px;
}

/* 捲軸滑過時 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.backH4 {
  margin: 24px 0;
}

.text-indent {
  text-indent: 2rem;
}

.text-ellipsis {
      /* 標題文字超過兩行時，超過的文字隱藏並顯示... */
    /* 要使用 webkit-line-clamp 須將 display 轉成 -webkit-box*/
    display: -webkit-box;
    /* 使超出寬度的文字隱藏 */
    overflow: hidden;
    /* 超出寬度的文字須由上而下垂直排列才可執行 webkit-line-clamp */
    -webkit-box-orient: vertical;
    /* 限制中文字超過 2 行時 */
    /* 有溢出文字時最後方加上省略號... */
    text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .q-dialog__inner--minimized > div {
      max-width: none;
  }
}